version: 2
updates:
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
      semver-patch-days: 7
      semver-minor-days: 14
      semver-major-days: 28
    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
      semver-patch-days: 7
      semver-minor-days: 14
      semver-major-days: 28
    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"

