[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
jinja2 = "*"
ghastoolkit = "*"

[dev-packages]
black = "*"

[scripts]
main = "python -m secretscanning"
# workflows
validate = "python -m secretscanning --validate"
snapshot = "python -m secretscanning --snapshot"
markdown = "python -m secretscanning --markdown"

# formatting
fmt = "black ./secretscanning"
lint = "black --check ./secretscanning"

