name: Self test

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@86d05551fa394b4b813e0deee328005b45cf5237 #v3.0.0
        with:
          application_id: ${{ secrets.ADVANCED_SECURITY_APP_ID }}
          application_private_key: ${{ secrets.ADVANCED_SECURITY_APP_KEY }}

      - name: Run - self test - validate
        uses: ./
        with:
          mode: validate
          token: ${{ steps.get_workflow_token.outputs.token }}

      - name: Run - self test - markdown
        uses: ./
        with:
          mode: markdown
          token: ${{ steps.get_workflow_token.outputs.token }}
  